body {
    background-image: url("./images/forestBackground.png")  
}

.navbar {
    background-color: #222;
    padding: 1rem 3rem;
}

#navbarBrand {
    color: #f4f4f4;
}

.divider {
    border-right: solid;
    border-right-color: rgba(92, 92, 92, 0.267);
    border-right-width: 1px;
}

.card {
    margin-top: 75px;
    border: none;
    background-image: url(./images/beachBackground.png);
}

#aboutHeader {
    font-size: 20px;
    color:#f4f4f4be;
    background-color:#222;
}

#aboutImage {
    max-width: 300px;
    border-radius: 1.5em 4em;
    padding: 1rem;
}

#portfolioHeader {
    margin: 100px 0px 0px 150px;
    color: #222;
}

.card-group {
    margin: 0px 50px;
}

#projectImage {
    border-radius: 0em 4em;
}

#contactHeader {
    margin-top: 100px;
    color: #222
}

form {
    padding: 25px;
    color: #222;
}
