/* SETS BACKGROUND THEME FOR ALL PAGES */
body {
    background-image: url(./images/forestBackground.png)  
}
/* NAV BAR STYLING STARTS HERE*/
.navbar {
    background-color: #222;
    padding: 1rem 3rem;
}

#navbarBrand {
    color: #f4f4f4;
}

.divider {
    border-right: solid;
    border-right-color: rgba(92, 92, 92, 0.267);
    border-right-width: 1px;
}
/* STYLING FOR ALL CARDS BETWEEN ALL PAGES */
.card {
    margin-top: 75px;
    border: none;
    background-image: url();
    box-shadow: 10px 10px 8px 5px #222;
}
/* STYLING FOR ABOUT PAGE */
#aboutHeader {
    font-size: 20px;
    color:#f4f4f4be;
    background-color:#222;
}

#aboutImage {
    max-width: 300px;
    border-radius: 1.5em 4em;
    padding: 1rem;
}
/* STYLING FOR PORTFOLIO PAGE */
#portfolioHeader {
    margin: 100px 0px 0px 150px;
    color: #222;
}

.projectRow {
    margin: 0px 50px 50px;
}

.projectCard {
    margin: 1em;
}

#projectImage {
    border-radius: .15em 2em;
}
/* STYLING FOR CONTACT PAGE */
#contactHeader {
    margin-top: 100px;
    color: #222
}

#contactCard {
    margin-top: 100px;
}

form {
    padding: 25px;
    color: #222;
}
