main {
    background-image:  
}

.navbar {
    background-color: #222;
    padding: 1rem 3rem;
}

#navbarBrand {
    color: #f4f4f4;
}

.divider {
    border-right: solid;
    border-right-color: rgba(92, 92, 92, 0.267);
    border-right-width: 1px;
}

.card {
    margin-top: 75px;
}

.card-header {
    font-size: 20px;
    color:#f4f4f4be;
    background-color:#222;
}

.card-img-top {
    max-width: 300px;
    border-radius: 1em 4em;
}